<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
 
  <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.ico">
  <link rel="stylesheet" href="css/style.css">


  <!-- import waypoint and greensock -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>

  <title>Lucas Mastroianni</title>
</head>

<main class="container">

  <!-- NAV -->

  <nav id="mainNav">

    <h2 class="hidden">Main Navigation</h2>
    <nav class="deskNav" id="navigation">
      <h2 class="hidden">Desktop Navigation</h2>
      <div id="deskCon">

        <ul id="deskMenu">
          <li><a href="#section-1">ABOUT</a></li>
          <li><a href="#section-2">PORTFOLIO</a></li>
          <li><a href="#section-3">CONTACT</a></li>
        </ul>
      </div>



    </nav>
  </nav>

  <!-- BANNER SECTION -->

  <section class="top-banner">

    <div class="logoHeader">
      <img src="images/red.svg" alt="Lucas Logo" height="50" width="50" id="logo">
    </div>



    <div id="section-1">

      <img id="mobileAvatar" src="images/mobile_avatar.png" height="60%" width="60%" alt="bio image" class="bio"
        class="responsive">
      <div id="deskAvatar">
        <img src="images/desktop_avatar1.png" alt="Desktop avatar" height="70%" width="70%" class="responsive">
      </div>
    </div>

    <div id="text">
      <h1>LUCAS MASTROIANNI</h1>
      <p>A video editor and
                    web designer from Dorchester, Ontario. I am a huge sports fan and a die hard Toronto Maple Leafs fan.
                    
                    I love advertisement, media, and ultimately how the human
                    brain perceives these things and how I can use creativity and
                    innovation to find ways to best influence and satisfy a user or
                    customer. Whether it is through video content or a project for the web, I am
                    passionate about producing content of the utmost quality and telling a story in an exceptional way.</p>
      <a href="https://docs.google.com/document/d/1ND28lykO7AhYgNN0s1wQqm7vk9fMIbqYKSZRZTQynpE/edit?usp=sharing" target="_blank"class="btn">View My Resumé!</a>
    </div>
    </div>
  </section>


  <!-- PORTFOLIO SECTION -->

  <section class="portfolioPieces">

    <h3>FEATURED PROJECTS</h3>

      <!-- this is the new section showing the featured items -->
       <section class="boxes">
      {{#each hero}}
      
        <div id="section-3">
          <div id="box1">
        {{!-- <span>Here's where you would add whatever markup you want!</span> --}}
        <img src="images/{{Images}} " width="100%" height="100%" class="responsive {{1Type}}">
        <span class="see-more" class="data" data-target="{{ID}}">READ MORE</span>
        </div>
        </div>
       
     
      {{/each}}
      </section>

   
<h3>MY WORK</h3>
{{!-- 
 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Et quod eligendi laudantium sequi veritatis, exercitationem iste adipisci aut enim labore nemo saepe maiores eum
      ipsam,
      possimus earum minus, debitis dolor!</p> --}}
<section class="boxes">

    
   

   
      {{#each data}}
      <div id="section-2">
        <div id="box1">
          <img src="images/{{Images}} " width="80%" height="75%" class="responsive {{1Type}}">

          <span class="see-more" class="data" data-target="{{ID}}">READ MORE</span>
          <!--type1 is for portoflio functionality-->
        </div>
      </div>

      {{/each}}

     

   
  </section>

     <div id="demoReel">
        <h3>2020 DEMO REEL</h3>
        <p>A collection of some of my work over the past year, check it out!</p>
        <a href=""></a>
        <video src="video/demo_reel.mp4" controls></video>
      </div>


  <!-- CONTACT SECTION -->


  <section class="contact" id="section-3">
    <h3>LET'S CHAT</h3>
    

    <section class="contact-form boxContact">
      <div class="text">
        <label>Full Name :</label>
        <input type="text" name="name" value="" placeholder="Enter Your Name">
      </div>

      <div class="text">
        <label>Email :</label>
        <input type="email" email="email" value="" placeholder="Email">
      </div>

      <div class="text">
        <label>Message :</label>
        <textarea placeholder="Enter Your Message"></textarea>
      </div>

      <span class="btn2">SEND</span>


    </section>
  </section>





 <article class="popover">
  {{!-- <div id="popoverCon"> --}}
   <div id="close">x</div> 
  <h3 class="Headings"></h3>
  <p class="Copy"></p>
  <p class="Tools"></p>
  <video src="{{Videos}}" class="project-vid"  width="80%" controls></video>
  {{!-- </div> --}}
</article>


</main>

<!--FOOTER -->
<footer>

  <div id="social">
    <a href="https://www.instagram.com/lukemastro14/" target="_blank"><img src="/images/instagram.svg" alt="Instagram"
        class="socialIcon"></a>

    <a href="https://github.com/lmastroianni" target="_blank"><img src="/images/github.svg" alt="Github"
        class="socialIcon"></a>
    <a href="https://www.linkedin.com/in/lucas-mastroianni-74bab01a3/" target="_blank"><img src="/images/linkedin.svg"
        alt="Linkedn" class="socialIcon"></a>

    <p>© Copyright 2020 Lucas Mastroianni. All Rights Reserved.</p>
  </div>



</footer>

<script src="js/main.js"></script>
</body>

</html>